.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 3rem;
  width: 3rem;
  margin: 10px 0;
  fill: currentColor;
}

[data-theme='dark'] .featureSvg {
  opacity: 0.8;
}