.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
  margin: 50px 0 20px;
  fill: currentColor;
}

[data-theme='dark'] .featureSvg {
  opacity: 0.8;
}