/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--banner-bg);
  color: var(--banner-text-color);
}

.logoSvg {
  height: 3rem;
  width: 3rem;
  margin-bottom: -5px;
}

.heroBanner .buttons {
  padding: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.buttons > * {
  margin: 0 0.5rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .logoSvg {
    display: none;
  }

  .buttons > * {
    margin: 0.5rem;
  }
}
